# Flutter/Dart 関連
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android 関連
.gradle/
local.properties
*.kwks
*.keystore
*.jks
app/src/main/res/raw/
app/bundle/
app/release/

# iOS/macOS 関連
.generated/
*.js
*.exe
*.dll
*.so
*.dylib
DerivedData/
Pods/
.xcworkspace/

# VS Code 関連
.vscode/
!.vscode/extensions.json

# OS 一時ファイル
.DS_Store
Thumbs.db

# ログファイル
*.log
.idea/*
.gitignore
.metadata
alerm_automato.iml
analysis_options.yaml
test/*
pubspec.lock